<div class="jumbotron">
    <h1>Лабораторная работа №2</h1>
    <p class="lead">Не хотели бы вы немножко авторизоваться?</p>
    <!-- Html.ActionLink("Авторизация", "Authorize", "Account") -->
    <a href="http://localhost:4107/Account/Authorize?client_id=4231">Авторизация</a>
    @Html.ActionLink("Регистрация", "Register", "Account")
</div>
