@model FrontEnd.Models.Notebook

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление ноутбука</h2>

<h3 style="color: Red;">@FrontEnd.Controllers.HomeController.MessegDelete</h3>

<p>Введите номер ноутбука, которого хотите удалить:</p>
@using (Html.BeginForm())
{
    <p>ID: @Html.TextBoxFor(x => x.ID) </p>
    <input type="submit" value="Удалить" />
}

