<div class="jumbotron">
    <h1>Лабораторная №3</h1>
    <p class="lead">Прежде, чем нажимать на кнопки ниже, запустите соответствующие бэкенды.</p>
    <p> <a href="http://localhost:7000/Account/Authorize" class="btn btn-primary btn-lg">Авторизоваться &raquo;</a></p>
    <p>
        <a href="http://localhost:7000/Home/Notebooks" class="btn btn-primary btn-lg">Список ноутбуков &raquo;</a>
        <a href="http://localhost:7000/Home/InsertForm" class="btn btn-primary btn-lg">Добавить ноутбук &raquo;</a>
        <a href="http://localhost:7000/Home/DeleteForm" class="btn btn-primary btn-lg">Удалить ноутбук &raquo;</a></p>
    <p>
        <a href="http://localhost:7000/Home/Creators" class="btn btn-primary btn-lg">Список производителей &raquo;</a>
        <a href="http://localhost:7000/Home/InsertCreator" class="btn btn-primary btn-lg">Добавить производителя &raquo;</a>
        <a href="http://localhost:7000/Home/DeleteCreator" class="btn btn-primary btn-lg">Удалить производителя &raquo;</a></p>
    <p>
        <a href="http://localhost:7000/Home/CreatorForm" class="btn btn-primary btn-lg">Подробная информация по производителю &raquo;</a>
    </p>
</div>
