@model RSOI_lab2.Models.Users

@{
    ViewBag.Title = "Authorize";
}

<h2>Авторизация</h2>

<h3 style="color: Red;">@RSOI_lab2.Controllers.AccountController.Message1</h3>

@using (Html.BeginForm())
{
    <p>Логин: @Html.TextBoxFor(x => x.LogiN) </p>
    <p>Пароль: @Html.TextBoxFor(x => x.Password)</p>
    <input type="submit" value="Авторизоваться" />
}

